<div class="row">
  <div class="col-md-9">
    <h3><%= t '.title' %></h3>
  </div>
</div>

<%= render 'form' %>

<br/>

<div class="row">
  <div class="col-md-9">
    <%= link_to t('back'), projetos_path, class: "btn btn-primary", role: "button" %>
  </div>
</div>